* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #adefd1;
}

#box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  border-radius: 30px;
  background-color: #00203f;
}

.light {
  position: relative;
  margin: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}

.light::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 4px;
  width: 20px;
  height: 20px;
  border-right: 3.5px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}

.close {
  filter: grayscale(1);
}

.red {
  background-color: #f05454;
  box-shadow: 0 0 20px 5px #f05454;
}

.yellow {
  background-color: #fecd1a;
  box-shadow: 0 0 20px 5px #fecd1a;
}

.green {
  background-color: #adce74;
  box-shadow: 0 0 20px 5px #adce74;
}
